.form {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}

.input {
  padding: 10px 20px;
  font-size: 1.6rem;
  border-style: none;
  border-radius: 50px;
  color: var(--primary);
}

.input,
.input:focus,
.input:active {
  background-color: #5d6e6c3b;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  background-color: transparent;
  opacity: 0.8;
}

.input:focus,
.input:active {
  border-color: var(--accent);
  color: inherit;
}

.input::placeholder {
  color: #5c7573;
}
